.App {
    width: 800px;
    margin: 0 auto;
}

.post-enter {
    opacity: 0;
}

.post-enter-active {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.paggination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    column-gap: 25px;
}

.page {
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid teal;
    cursor: pointer;
}

.page__current {
    padding: 5px 15px;
    border: 2px solid teal;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
}

